In [12]:
import numpy as np
#1. define categories and Questions
categories = ["Exoplanets", "Galaxies", "Constellations", "Planets", "Moons", "Astronomers/Physicists/Astronomers"]
# 5 rows = 
board_values = np.array([[100, 100, 100, 100, 100, 100], 
                         [200, 200, 200, 200, 200, 200], 
                         [300, 300, 300, 300, 300, 300], 
                         [400, 400, 400, 400, 400, 400], 
                         [500, 500, 500, 500, 500, 500] ])

# 2. Randomly pick a Daily Double location using choice
dd_selection = np.random.choice(30)

# Convert that one number into specific row (0-4) and col (0-5)
dd_row = dd_selection // 6
dd_col = dd_selection % 6

print(f"Daily Double Location: Row {dd_row}, Col {dd_col} (Category: {categories[dd_col]})")

# 3. Initialize Board with placeholders (5 rows x 6 columns)

ddArray = np.array(["Q" for _ in range(30)])
ddArray = ddArray.reshape(5, 6)
ddArray[dd_row][dd_col] = "DD" # Mark Daily Double

# 4. Display Board
print("\nJeopardy Board:")
print(ddArray)

list = []
for i in range(30):
    list.append(False)
beenUsed = np.array(list)
beenUsed = beenUsed.reshape(5, 6)
print(beenUsed)

Daily Double Location: Row 2, Col 5 (Category: Astronomers/Physicists/Astronomers)

Jeopardy Board:
[['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'D']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']]
[[False False False False False False]
 [False False False False False False]
 [False False False False False False]
 [False False False False False False]
 [False False False False False False]]

In [13]:
from clue_object_setup import Tile
from clue_object_setup import generate_tiles
from AI_Setup import create_clues
from AI_Setup import create_answers

answer = create_answers()
clues, answers, *_= create_clues()

generate_tiles(clues, answers, ddArray, board_values, beenUsed)

['This Hot Jupiter exoplanet, discovered via radial velocity, is infamous for its sideways rain of molten glass and an atmosphere rich in hydrogen sulfide, giving it a foul smell reminiscent of rotten eggs.', 'This galaxy, home to our solar system, stretches over 100,000 light-years and requires about 250 million years for our solar system to complete one orbit within it.', 'This constellation, the third largest in the sky and known as the Great Bear, represents Callisto, a nymph loved by Zeus in Greek mythology.', 'This icy blue planet, first glimpsed by Galileo in 1612 and mathematically predicted in 1846, has seasons that each last over four decades due to its lengthy orbit around the Sun.', "This moon, second largest in our solar system, is unique for its dense atmosphere and methane rain cycle, making it a world with weather much like Earth's.", 'This 1967 Air Force officer, the first black astronaut, earned a PhD in Physical Chemistry from Ohio State University before his untimely death prevented him from reaching space.', 'This gas giant exoplanet, discovered by transit, is so close to its star that tidal forces have stretched it into an egg shape and doomed it to be consumed in a few billion years.', 'This spiral galaxy, the closest to our Milky Way, was first recorded in 964 by Persian astronomer Abd al-Rahman al-Sufi in his Book of Fixed Stars.', 'This constellation, named for a mighty hunter and son of Poseidon in Greek mythology, features a distinctive belt, sword, and the bright star Betelgeuse.', "This gas giant's spectacular rings, stretching over 175,000 miles, are thought to be made of remnants from asteroids, comets, and broken moons, while its atmosphere is dominated by hydrogen and helium.", 'This icy moon of Jupiter, locked in orbital resonance with Io and Ganymede, shows surface cracks likely caused by a subsurface ocean beneath its frozen crust.', 'This "human computer" at NASA, one of the first Black women to work there, calculated orbital mechanics crucial for crewed spaceflight and was portrayed in the film Hidden Figures.', 'This super-hot gas giant, discovered via transit, is the darkest known planet, reflecting less light than coal, possibly due to titanium oxide in its atmosphere.', 'This elliptical galaxy, discovered in 1749 by Guillaume Le Gentil, orbits the Andromeda Galaxy and lies about 2.5 million lightyears from Earth.', 'This "W"-shaped constellation is named after a queen who was punished by Poseidon for her vanity in Greek mythology.', 'This scorching planet, one of only two in our solar system without moons, can reach surface temperatures as high as 900 degrees Fahrenheit.', 'This small, icy moon of Saturn boasts the most reflective surface in the solar system and is believed to harbor a subsurface ocean with the essential chemicals for life.', 'This pioneering astronaut, the first American woman in space who operated the Challenger’s robotic arm, was posthumously awarded the Presidential Medal of Freedom in 2013.', 'This super Earth exoplanet, discovered via transit, may have started as a mini-Neptune and regained its atmosphere through volcanic activity after initially losing it.', 'This third largest member of the Local Group, imaged by Hubble, boasts a star birth rate about ten times that of its neighbor, the Andromeda Galaxy.', 'This constellation, shaped like a mythical winged horse, is linked to a hero who rode it to defeat the fire-breathing Chimera in Greek mythology.', 'This ice giant, unique for rotating nearly on its side, boasts 28 moons and 13 rings in its orbit around the Sun.', 'This largest moon of Neptune is unique for its retrograde orbit and geological activity, and it remains tidally locked just like our own Moon.', 'This astronaut, known for being stranded in space and holding the record for the most cumulative days and spacewalk time by a woman until 2015, spent a total of 608 days in orbit, the second highest ever.', 'This "hot Jupiter," the first exoplanet ever discovered, can reach scorching temperatures of up to 1830 degrees Fahrenheit and was suspected to have water vapor in its atmosphere as of 2017.', 'This galaxy’s “black eye” appearance comes from dark dust obscuring its bright core, and its outer gas rotates opposite to its inner gas, likely due to a billion-year-old galactic collision.', 'This zodiac sign, symbolized by a centaur archer, not only marks the period from November 22 to December 21 but also points us toward the Milky Way’s galactic center.', 'This planet’s name, unlike those of Mars or Venus, comes from a Germanic word meaning “the ground,” reflecting its unique status as the only known home to intelligent life.', 'This Martian moon, discovered in 1877, orbits its planet three times in a single day and lacks an atmosphere.', 'This 18th-century astronomer’s wooden pocket watch kept precise time for over 40 years, and in 1788, he accurately predicted a solar eclipse by calculating the positions of the sun, moon, and planets.']

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'Tile'