In [13]:
import numpy as np
#1. define categories and Questions
categories = ["Exoplanets", "Galaxies", "Constellations", "Planets", "Moons", "Astronomers/Physicists/Astronomers"]
# 5 rows = 
board_values = np.array([[100, 100, 100, 100, 100, 100], 
                         [200, 200, 200, 200, 200, 200], 
                         [300, 300, 300, 300, 300, 300], 
                         [400, 400, 400, 400, 400, 400], 
                         [500, 500, 500, 500, 500, 500] ])

# 2. Randomly pick a Daily Double location using choice
dd_selection = np.random.choice(30)

# Convert that one number into specific row (0-4) and col (0-5)
dd_row = dd_selection // 6
dd_col = dd_selection % 6

print(f"Daily Double Location: Row {dd_row}, Col {dd_col} (Category: {categories[dd_col]})")

# 3. Initialize Board with placeholders (5 rows x 6 columns)

ddArray = np.array(["Q" for _ in range(30)])
ddArray = ddArray.reshape(5, 6)
ddArray[dd_row][dd_col] = "DD" # Mark Daily Double

# 4. Display Board
print("\nJeopardy Board:")
print(ddArray)

list = []
for i in range(30):
    list.append(False)
beenUsed = np.array(list)
beenUsed = beenUsed.reshape(5, 6)
print(beenUsed)

Daily Double Location: Row 0, Col 2 (Category: Constellations)

Jeopardy Board:
[['Q' 'Q' 'D' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']
 ['Q' 'Q' 'Q' 'Q' 'Q' 'Q']]
[[False False False False False False]
 [False False False False False False]
 [False False False False False False]
 [False False False False False False]
 [False False False False False False]]

In [ ]:
from clue_object_setup import Tile
from clue_object_setup import generate_tiles
from AI_Setup import create_clues
from AI_Setup import create_answers

answer = create_answers()
clues, answers = create_clues(answer)

generate_tiles(clues, answers, ddArray, board_values, beenUsed)

['This Hot Jupiter exoplanet is infamous for its sideways rain of molten glass and an atmosphere rich in hydrogen sulfide, giving it a foul odor reminiscent of rotten eggs; it was discovered using the radial velocity method.', 'This galaxy, home to our solar system, stretches over 100,000 light-years and requires about 250 million years for our solar system to complete one orbit around it.', 'This constellation, the third largest in the sky and known as the Great Bear, represents Callisto, a nymph loved by Zeus in Greek mythology.', 'This distant blue planet, first glimpsed by Galileo in 1612 and mathematically predicted in 1846, has days lasting about 16 hours and seasons that stretch over four decades due to its lengthy orbit.', 'This moon, second largest in our solar system and unique for its dense atmosphere, experiences a rain-like cycle similar to Earth’s.', 'This 1967 Air Force officer, the first black astronaut, earned a PhD in Physical Chemistry from Ohio State University before his untimely death prevented him from reaching space.', 'This gas giant exoplanet, discovered by transit, is so close to its host star that tidal forces distort it into an egg shape and doom it to be consumed in a few billion years.', 'This spiral galaxy, the closest to our Milky Way, was first documented in 964 by Persian astronomer Abd al-Rahman al-Sufi in his Book of Fixed Stars.', "This constellation, named after a hunter who was Poseidon's son in Greek mythology, features a distinctive belt, sword, head, club, and shield, and includes the bright star Betelgeuse.", 'Category: Saturn\n\nThese spectacular features, stretching over 175,000 miles from the planet’s surface, are made up of fragments from asteroids, comets, and shattered moons, encircling a gas giant primarily composed of hydrogen and helium.', 'This icy Jovian moon, locked in orbital resonance with Io and Ganymede, shows surface cracks likely caused by a subsurface ocean beneath its frozen crust.', 'This NASA mathematician, known as a "human computer," calculated orbital mechanics crucial for crewed spaceflight and was one of the first Black women to work at NASA, as depicted in the film Hidden Figures.', 'This super-hot gas giant, discovered via transit, is the darkest known planet, reflecting less light than coal, possibly due to titanium oxide in its atmosphere.', 'This elliptical galaxy, discovered in 1749 by Guillaume Le Gentil, orbits the Andromeda Galaxy and lies about 2.5 million lightyears from Earth.', 'This constellation, shaped like a distinctive "W," honors a queen punished by Poseidon for her vanity in Greek mythology.', 'This scorching planet, one of only two in our solar system without moons, can reach surface temperatures as high as 900 degrees Fahrenheit.', 'This small, icy moon of Saturn is known for its highly reflective surface and is believed to harbor a subsurface ocean, making it a prime candidate in the search for extraterrestrial life.', 'This pioneering astronaut, the first American woman in space who operated the Challenger’s robotic arm, was posthumously awarded the Presidential Medal of Freedom in 2013.', 'This super-Earth exoplanet, discovered via transit, may have started as a mini-Neptune and regained its atmosphere through volcanic activity after initially losing it.', 'This third largest member of the Local Group, imaged by Hubble, is known for its star birth rate about ten times that of Andromeda.', 'This constellation, shaped like a winged horse, represents the mythical creature born from Medusa’s blood and later ridden by Bellerophon to slay the Chimera.', 'This ice giant, unique for spinning nearly on its side, boasts 28 moons and 13 rings in its orbit around the Sun.', 'This largest moon of Neptune is unique for its retrograde orbit and geological activity, and it remains tidally locked just like our own Moon.', 'This female astronaut, known for being stranded in space, held the record for the most cumulative days and spacewalk time by a woman until 2015, with a total of 608 days spent in orbit.', 'This "hot Jupiter," the first exoplanet ever discovered, can reach scorching temperatures of up to 1830 degrees Fahrenheit and was suspected to have water in its atmosphere as of 2017.', 'This galaxy’s “black eye” appearance comes from dark dust obscuring its bright core, and its outer gas rotates opposite to its inner gas due to a billion-year-old galactic collision.', 'This zodiac sign, symbolized by a centaur archer, not only spans late November to late December in astrology but also marks the location of the Milky Way’s center in its westernmost region.', 'This planet’s name, unlike its celestial neighbors, comes from a Germanic word meaning “the ground,” reflecting its unique status as the only known home to intelligent life.', 'This Martian moon, discovered in 1877, completes three orbits around Mars in a single day and has no atmosphere.', 'In 1788, this astronomer’s precise calculations allowed him to accurately predict a solar eclipse, and his wooden pocket watch has kept time for over 40 years.']

ValueError: too many values to unpack (expected 2)